<div class="project-card-container">
  <div class="project-card">
    <img
      src="assets/img/project/Project1.jpg"
      alt="Project 1"
      class="project-image"
    />
    <div class="project-overlay">
      <div class="project-footer">
        <div class="footer-content">
          <div class="footer-text">
            <span class="project-name">ObesiFit Website</span>
            <span class="project-category">UI/UX Design</span>
          </div>
          <button class="btn btn-primary">About More</button>
        </div>
      </div>
    </div>
  </div>
</div>
